<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.dao.ExamMapper">
  <resultMap id="BaseResultMap" type="com.exam.pojo.Exam">
    <id column="exam_id" jdbcType="INTEGER" property="examId" />
    <result column="exam_name" jdbcType="VARCHAR" property="examName" />
    <result column="exam_start_date" jdbcType="TIMESTAMP" property="examStartDate" />
    <result column="exam_last_time" jdbcType="BIGINT" property="examLastTime" />
    <result column="reviewer_id" jdbcType="INTEGER" property="reviewerId" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="score" jdbcType="DECIMAL" property="score" />
  </resultMap>
  <sql id="Base_Column_List">
    exam_id, exam_name, exam_start_date, exam_last_time, reviewer_id, create_by, create_date, 
    update_by, update_date, score
  </sql>
  <!--通过实体作为筛选条件查询-->
  <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from exam
    <where>
      <if test="examName != null and examName != ''">
        and exam_name like CONCAT('%',#{examName},'%')
      </if>
      <if test="reviewerId != null">
        and reviewer_id = #{reviewerId}
      </if>
    </where>
  </select>
</mapper>