<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.dao.QuestionMapper">
  <resultMap id="BaseResultMap" type="com.exam.pojo.Question">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="option_a" jdbcType="VARCHAR" property="optionA" />
    <result column="option_b" jdbcType="VARCHAR" property="optionB" />
    <result column="option_c" jdbcType="VARCHAR" property="optionC" />
    <result column="option_d" jdbcType="VARCHAR" property="optionD" />
    <result column="score" jdbcType="DECIMAL" property="score" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="title" jdbcType="LONGVARCHAR" property="title" />
    <result column="answer" jdbcType="LONGVARCHAR" property="answer" />
    <result column="analyse" jdbcType="LONGVARCHAR" property="analyse" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, option_a, option_b, option_c, option_d, score, title, answer, analyse, create_date, update_date
  </sql>
<!--获取试题列表-->
  <select id="queryAll" resultMap="BaseResultMap" parameterType="com.exam.pojo.Question">
    select
    <include refid="Base_Column_List"/>
    from question
    <where>
      <if test="type != null and type != ''">
        and type = #{type}
      </if>
      <if test="title != null and title != ''">
        and title = #{title}
      </if>
      <if test="analyse != null and analyse != ''">
        and analyse = #{analyse}
      </if>
      <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
        AND date_format(create_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
      </if>
      <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
        AND date_format(create_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
      </if>
    </where>
  </select>

  <!--新增所有列-->
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into question(
    <if test="type != null and type != ''">type,</if>
    <if test="title != null and title != ''">title,</if>
    <if test="optionA != null and optionA != ''">option_a,</if>
    <if test="optionB != null and optionB != ''">option_b,</if>
    <if test="optionC != null and optionC != ''">option_c,</if>
    <if test="optionD != null and optionD != ''">option_d,</if>
    <if test="answer != null and answer != ''">answer,</if>
    <if test="analyse != null and analyse != ''">analyse,</if>
    <if test="createBy != null and createBy != ''">create_by,</if>
    <if test="score != null and score != ''">score,</if>
    create_date
    )values(
    <if test="type != null and type != ''">#{type},</if>
    <if test="title != null and title != ''">#{title},</if>
    <if test="optionA != null and optionA != ''">#{optionA},</if>
    <if test="optionB != null and optionB != ''">#{optionB},</if>
    <if test="optionC != null and optionC != ''">#{optionC},</if>
    <if test="optionD != null and optionD != ''">#{optionD},</if>
    <if test="answer != null and answer != ''">#{answer},</if>
    <if test="analyse != null and analyse != ''">#{analyse},</if>
    <if test="createBy != null and createBy != ''">#{createBy},</if>
    <if test="score != null and score != ''">#{score},</if>
    now()
    )
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from question
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <update id="updateByPrimaryKey" parameterType="com.exam.pojo.Question">
    update question
    set type = #{type,jdbcType=CHAR},
      option_a = #{optionA,jdbcType=VARCHAR},
      option_b = #{optionB,jdbcType=VARCHAR},
      option_c = #{optionC,jdbcType=VARCHAR},
      option_d = #{optionD,jdbcType=VARCHAR},
      score = #{score,jdbcType=DECIMAL},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>